.homePageContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: white;
}
.headerBar{
    display: flex;
    flex: 1;
    justify-content: center;
    background: black;
}

.textheading{
  display: flex;
  align-items: center;
  color: white;
  font-size: 30px;
}

.homePageElem{
    display: flex;
    width: 100%;
    justify-content: center;
}

.title{
    font-size : 26px;
    color : black;
}


.homePageImage{
    object-fit: contain;
}
.descriptionContainer{
    margin-top : 30px;
    align-items: flex-start;
}
