.productInfoContainer{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.headerBar{
    display: flex;
    flex: 1;
    justify-content: center;
    background: black;
}

.textheading{
    display: flex;
    align-items: center;
    color: white;
    font-size: 30px;
}

.mainContainer{
    display: flex;
    flex-direction: row;
    flex: 10 1;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.productContainer{
    display: flex;
    flex-direction: column;
    flex: 10 1;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 18px;
}

.productTitle {
    font-size: 30px;
    margin: 17px 0;
}

.productDescription {
    font-size: 20px;
    margin: 18px;
}
