.questionContainer{
    width: 87%;
    height: 100%;
    display: flex;
    flex: 1 1;
    margin-left: auto;
    flex-direction: column;
    justify-content: center;
    margin-right: auto;
    padding: 25px 50px;
    background: white;
}

.logout{
  display: flex;
  flex-direction: row-reverse;
  padding: 0px 0px 20px;
  color: red;
}

.questionHeaderBar {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid;
}

.header-section {
    display: flex;
    flex:1;
    justify-content: center;
}

.topicName{
    justify-content: start;
    /* margin-left: 15px; */
    font-size: 22px;
}

.hintExempt{
    display: flex;
    margin-left: 5px;
}

.button{
    padding : 5px 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.ghost-view{
    display: flex;;
    flex: 1;
}

.questionTextContainer {
    display: flex;
    flex: 1;
    align-items: center;
    margin: 20px 10px;
    margin-left: 0px;
    font-size: 22px;
    font-weight: 400;
    color: #212121;
}
.questionContent{
    padding : 30px;
    text-align: left;
    padding-left: 0px;
}

.answerContent {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.optionsDiagram{
    display: flex;
    width : 100%;
}

.options {
    display: flex;
    flex: 2;
    flex-direction: column;
}

.diagram{
    /* display: flex; */
    flex: 1;
    justify-content: right;
    flex-direction: row-reverse;
}

.question-image{
    max-width: 600px;
    max-height: 300px;
}

.question-diagram{
    width: 30%;
    height: 30%;
}

.questionFooter{
    display: flex;
    flex: 1;
    justify-content: center;
    margin-top: 25px;
}

.questionHeaderBar .help {
    justify-content: flex-end;
}

.info {
    display: flex;
    flex: 1;
}

.navigation {
    display: flex;
    flex: 1 1;
    justify-content: center;
    margin-top: 30px;
}

.navigation .prev {
    display: flex;
    flex: 1;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 19px;
    color: #212121;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


.questionContainer .form-box-btn {
    margin-top: 15px;
    width: 100%;
    padding: 18px 20px;
    border: 0;
    background: #6fd350;
    color: #2f6e1c;
    font-weight: 600;
    border-radius: 3px;
    font-size: 17px;
}

.hiddenElem {
    visibility: hidden
}
