.testSeries-container{
    display: flex;
    flex-direction: column;
    flex : 1;
    justify-content: center;
    align-items: flex-start;
}

.test-entry-page{
    min-width: 40vw;
    max-width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.select-test{
    color: black;
    opacity: 0.6;
    font-size: 25px;
    font-weight: 300;
}

.testSeriesCard {
    border : 1px solid #ececec;
    padding: 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(244, 244, 244, 1);
}
.testSeriesCardBox {
    padding : 3em;
    border-radius: 9px;
    background: white;
    border : 2px solid #ececec;
    color: #374e53;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width : 100%;
}
